<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="usuarios.css">
    <title>Usuarios</title>
</head>

<body>

    <div class="principal">
        <div class="img">
            <img src="../../imgs/usuarios.svg" alt="Users">
        </div>

        <div class="botoes-container">
            <div class="titulo">
                <h1><strong>Você é:</strong></h1>
            </div>

            <div class="botoes">
                <button id="cadastroAluno">Aluno</button> <!--Leva para o cadastro de alunos-->
                <!--<button>Professor</button> Não temos cadastro de professor no front-->
                <button id="cadastroEmpresa">Empresa</button> <!--Leva para o cadastro de empresas-->
            </div>

        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>